<a href="/logout" class="btn btn-danger pull-right"> Log-out</a>
<a href="@routes.EventoController.getCadastradorDeLocal()" class="btn btn-primary">Cadastrar Local Novo</a>
<a data-toggle="modal" data-target="#modalCriacaoDeEventos" class="btn btn-primary"> <i class="fa fa-calendar"></i> Cadastrar Novo Evento</a>
@main("Inicio") {

<a class="arrow-left" href="#" style="z-index:11"></a> <a class="arrow-right" href="#" style="z-index:11"></a>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" style="background-color: rgb(13, 42, 70);">
			@apresentacao()
			
		</div>
		<div class="swiper-slide" style="background-color: rgb(13, 42, 70);">
			@visualizacao()
		</div>
		
	</div>
	<div class="pagination"></div>
</div>
<script>
	var mySwiper;

	$(document).on('ready', function() {

		mySwiper = new Swiper('.swiper-container', {
			pagination : '.pagination',
			loop : false,
			grabCursor : true,
			paginationClickable : true
		})
		
		$('.arrow-left').on('click', function(e) {
			e.preventDefault()
			mySwiper.swipePrev()
		})
		
		$('.arrow-right').on('click', function(e) {
			e.preventDefault()
			mySwiper.swipeNext()
		})
		
		$('.content-slide').css('height',$('body').height()+'px')
	});
</script>
}