@(form: Form[Usuario])

@main("Login Page") {
	<div class="container" style="height: 40% !important;">
		<div class="col-md-12"
			style="padding: 20px 40px 40px 40px; height: 100%; margin-bottom: 10px; border-radius: 4px; opacity: .9">
			<div class="row">
				<br>
				<h2 class="col-sm-12" style="font-size: 20px; text-align: justify">
				Este espaço destina-se a divulgação de eventos para você que é apaixonado por tecnologia. Aqui você poderá acompanhar, participar e cadastrar eventos na área de tecnologia da informação para que em grupo possam debater e construir algo bastante interessante e criativo. Faça Login ou registre-se para usar!
				</h2>
			</div>
		</div>
	</div>
	
   <div class="col-sm-4 col-sm-offset-4">
   @if(flash.contains("fail")) {
   		<p class="bg-danger"> style="">
        	@flash.get("fail")
		</p>
   }
  		
   @helper.form(routes.Login.authenticate) {
       <p>
	       <input type="email" name="email" placeholder="Email" value='@form("email").value'
                  class="form-control">
       </p>
       <p>
	       <input type="password" name="pass" placeholder="Password" class="form-control">
       </p>
       <div>
	       <button class="btn btn-primary" type="submit">Login</button>
	       <a class="btn btn-info" style="float:right;" href="/registrar"> Registrar</a>
       </div>
	}
    </div>
}
