@(local: Form[models.Local])

@import helper._


<!-- 

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Insira as Informacoes para cadastrar um Local</div>
				<div class="panel-body">
					<form role="form" action="/local/cadastrar" method="post">
						<div class="form-group div-painel-black">
										
							@inputText(local("nome"), '_label -> "Nome", 'class -> "form-control", 'size -> 70, 'placeholder -> "Digite o Nome do Local")
						
							@inputText(local("referencias"), 	'_label -> "Descricao", 'class -> "form-control", 'size -> 70, 'placeholder -> "Como Chegar ao Local")
					
							@inputText(local("capacidade"), '_label -> "Capacidade", 'class -> "form-control", 'size -> 5, 'placeholder -> "Capacidade de Participantes")
								
						</div>
						<hr>
						<p align="center">
							<a href="@routes.Application.index" class="btn btn-danger">Voltar</a>
							<button type="submit" class="btn btn-success">Cadastrar</button>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

 -->




<div class="modal fade" id="modalCadastroDeLocal" tabindex="-1"  role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-lg">
			<div class="modal-content">
				<div class="modal-header">	
					<h4 style="background-color:white;color:black; font-size: 30px; margin-top:0px;" class="modal-title" id="myModalLabel"><b>Cadastrar um local para eventos</b></h4>
	            </div>
	            <div class="modal-body">
					<form role="form" action="/local/cadastrar" method="post">
						<div class="form-group div-painel-black">
										
							@inputText(local("nome"), '_label -> "Nome", 'class -> "form-control", 'size -> 70, 'placeholder -> "Digite o Nome do Local")
						
							@inputText(local("referencias"), 	'_label -> "Descricao", 'class -> "form-control", 'size -> 70, 'placeholder -> "Como Chegar ao Local")
					
							@inputText(local("capacidade"), '_label -> "Capacidade", 'class -> "form-control", 'size -> 5, 'placeholder -> "Capacidade de Participantes")
								
						</div>
						<hr>
						<p align="center">
							<a href="@routes.Application.index" class="btn btn-danger">Voltar</a>
							<button type="submit" class="btn btn-success">Cadastrar</button>
						</p>
					</form>
<!-- 	                <div class="row"> -->
<!-- 						<div class="col-md-12"> -->
							
<!-- 							<div style="height:450px;background-color:white;color:black;padding:10px">		 -->
<!-- 		            			@helper.form(action = routes.EventoController.cadastrarLocal, 'id -> "form-novo-local") { -->
<!-- 		            				<div class="row"> -->
<!-- 										<div class="col-md-8" style="height:350px"> -->
<!-- 											<h1 style="font-size: 30px; margin-top:0px;"> -->
<!-- 												<b>&nbsp;</b> -->
<!-- 											</h1> -->
<!-- 		            						<div style="height:90% !important;max-height:390px;"> -->
<!-- 												<div class="row"> -->
<!-- 													<input name="nome" type="text" class="col-md-8 form-control" placeholder="Título do local" style="width:57% !important;margin-left:20px !important" maxlength="120" required> -->
<!-- 													<input name="capacidade" type="number" class="col-md-4 form-control" placeholder="Número de pessoas que local suporta" style="width:30% !important;margin-left:20px !important" required> -->
<!-- 													<input name="referencias" type="text" class="col-md-8 form-control" placeholder="Descricão de como chegar ao local" style="width:100% !important;margin-left:20px !important" maxlength="450" required> -->
<!-- 												</div>	 -->
<!-- 											</div> -->
<!-- 											<div class="row" style="margin-left:0px;"> -->
<!-- 												<button type="submit" class="btn btn-success" style="width:100px; margin-left:5px">Criar</button> -->
<!-- 												<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
			
<!-- 								} -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
		
